APScheduler==3.6.0
Click==7.0
Flask==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pyTelegramBotAPI==3.6.6
pytz==2019.1
requests==2.7.0
six==1.12.0
telebot==0.0.3
tzlocal==1.5.1
Werkzeug==0.15.4
